<div class="contacts-container">
  <h2>Your Contacts</h2>
  <button mat-raised-button color="primary" routerLink="/contacts/new">Add New Contact</button>

  <mat-list dense>
    <mat-list-item *ngFor="let contact of contacts">
      <p matLine>Contact Name: {{ contact.name }}</p>
      <p matLine>Phone Number: {{ contact.phoneNumber }}</p>
      <div class="contact-actions">
        <button mat-icon-button color="accent" (click)="editContact(contact.id)">
          <mat-icon class="edit-icon">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteContact(contact.id)">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
